#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug.xcconfig"
#include "Generated.xcconfig"

GOOGLE_CLIENT_ID = 906124586309-pjeffc4tpluqv0qllsjdkk6frbef6aoi.apps.googleusercontent.com
GOOGLE_REVERSED_CLIENT_ID = com.googleusercontent.apps.906124586309-pjeffc4tpluqv0qllsjdkk6frbef6aoi
PRODUCT_BUNDLE_IDENTIFIER = co.civic24.citizen.dev