#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include "Generated.xcconfig"

GOOGLE_CLIENT_ID = 906124586309-4pi1mk5terd03k5tri6gt21sqtnuqf1g.apps.googleusercontent.com
GOOGLE_REVERSED_CLIENT_ID = com.googleusercontent.apps.906124586309-4pi1mk5terd03k5tri6gt21sqtnuqf1g
PRODUCT_BUNDLE_IDENTIFIER = co.civic24.citizen