name: assets
# resolution: workspace
description: "Assets Resources for Civic24"
version: 0.1.0+1
publish_to: none

environment:
  sdk: ">=3.8.1 <4.0.0"
  flutter: "3.32.6"

dependencies:
  flutter:
    sdk: flutter
    
  # General Dependencies
  flutter_svg: ^2.2.0
  
  # Package Dependencies


dev_dependencies:
  flutter_test:
    sdk: flutter
    
  # Internal Packages
  rules:
    path: ../rules

  # Utility Packages
  flutter_gen_runner: ^5.10.0
  build_runner: ^2.5.4

flutter:
  uses-material-design: true
  generate: true
  fonts:
    - family: Poppins
      fonts:
        - asset: assets/fonts/Poppins-Light.ttf
          weight: 300
        - asset: assets/fonts/Poppins-Regular.ttf
          weight: 400
        - asset: assets/fonts/Poppins-Medium.ttf
          weight: 500
        - asset: assets/fonts/Poppins-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/Poppins-Bold.ttf
          weight: 700
        - asset: assets/fonts/Poppins-Black.ttf
          weight: 900
  assets:
    - assets/svg/

flutter_gen:
  output: lib/asset_gen/
  assets:
    enabled: true
    outputs:
      package_parameter_enabled: true
  fonts:
    enabled: true
    outputs:
      package_parameter_enabled: true
  integrations:
    flutter_svg: true
    rive: true
    lottie: true
